.postsContainer {
    display: grid;
    grid-row-start: auto;
    padding: 1.1vh;
    background-color: black;
    color: white;
}

.header {
    background-color: darkred;
    border: 2px;
    border-radius: 12px;
    height: auto;
    padding: 1.4vw;
    text-align: center;
    align-items: center;
}

.container {
    /*display: flex;*/
    background-color: #0a0a0a;
}

.switchbutton{
    height: 5vh;
    width: 100%;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    background-color: #b41d12;
    border-color: black;
}
