.viewContainer{
	background-color: white;
	display: flex;
	padding: 1%;
	height: 75vh;
}

.leftView, .rightView{
	flex: 1;
	/*height: 400px;*/
	overflow-y: auto;
	
}
.leftView{
	background-color: transparent;
}

.rightView{
	background-color: red;
}

.leftContent{
	border: 2px solid black;
}
