.content {
    margin-left: 250px; 
    padding: 20px;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;

  }
  
  .header {
    background-color: #FF2400;
    padding: 10px;
    width:100%;
    top: 0;
  }
  
  .body {
    margin-top: 20px;
  }
  
  .profileInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .profileImageLabel {
    margin-right: 70px;
  }
  
  .profileImage {
    border-radius: 50%;
    margin-right: 0px;
  }
  
  .userDetails{
    margin-top: -20px;
  }

  .userDetails h2 {
    margin: 0;
  }
  
  .actionButtons {
    margin: 20px 0; 
  }
  
  .actionButton {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #000000;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.2s;
    border-radius: 10%;
    font-weight: bold;
    color: white;
  }
  
  .viewToggle {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .posttabs {
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.2s;
    font-weight: bold;
    font-size: 15px;
    color: White;
  }
  
  .activeButton {
    background-color: #e1e1e1; 
  }
  
  .posts {
    margin-top: 20px;
  }
  
  .postGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  
  .profilePicInput {
    display: none; 
  }
  
  .sectioncount{
    display: flex;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .counter{
    text-align: center;
    margin-right: 20px;
  }

  .countervalue{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .counterlabel{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .divider{
    width: 100%;
    height: 1px; /* Height of the line */
    background-color: #ffffff; /* Color of the line */
    margin: 20px 0; /* Spacing above and below the line */
  }