body{
    background-color: grey;
    height: 100%;
}

.ProfileHeader{
    background-color: rgba(255, 255, 255, 0.938);
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: solid Black;
}

.ProfilePicture{
    width: 400px;
    margin: 25px;
    border-radius: 10px;
    padding-bottom: 20px;
    text-align: center;
    border-color: black;
    margin-left: 200px;
}

.Photo{
    height: 250px;
    width: 250px;
    padding: 5px;
    border-radius: 100px;

    background: black;
}

h1, .ProfileName{
    color: black;
    font-family:'Roboto Condensed', sans-serif !important;
}

.SecondDivision{
    margin-top: 10px;
    padding: 20px;
}

.SecondDivision .Settings{
    justify-content: space-between 300px;
    list-style-position: inside;
    list-style: none;
    align-items: center;
    text-align: center;
    display: flex;
    flex: 1;
    padding:0;
}

.SecondDivision .Settings li{
    padding: 10px;
    display: flex;
    position: relative;
    text-align:center;
}

.SecondDivision .PFF{
    list-style: none;
    list-style-position: inside;
    align-items: center;
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: space-between 300px;
    padding: 0;
}

.SecondDivision .PFF li{
    display: flex;
    position: relative;
    top: 50%;
    height: 50px;
    width: relative;
    text-align: center;
    padding: 25px;
}

.SecondDivision .PFF li a{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}

.ProfileDescription{
    margin-right: 500px;
    padding: 25px;
    width: 1000px;
    height: 300px;
    color: black;
    font-family: 'Roboto Condensed';
    margin-top: 10px;
    font-size:large;
}


.PostChoices{
    width: 100%;
    background-color: #b10202;
    height: 50px;
    border: solid, black;
}

.PostChoices ul{
    list-style: none;
    list-style-position: inside;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    
}

.PostChoices ul li{
    display: flex;
    position: relative;
    top: 50%;
    border: solid black;
    border-top: none;
    height: 50px;
    width: relative;
    text-align: center;
    flex:1;
    align-items: center;
    justify-content: center;
}

.PostChoices ul li button{
    display: flex;
    position: relative;
    height: 50px;
    width: relative;
    text-align: center;
    align-items: center;
    flex:1;
    justify-content: center;
    background-color: transparent;
}


.PostChoices ul li button a{
    font-family: Arial;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
}