.createPostContainer {
    text-align: left;
    border: 2px;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    text-align: center;
    color: white;
    margin-bottom: 5px;
}

.createPostButtonContainer {
    text-align: center;
}

.createPostButton {
    background-color: white;
    color: black;
    padding: 1px;
}
