.createPostContainer {
    text-align: left;
    border: 2px;
    border-radius: 12px;
    color: white;
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 10px;
    gap: 10px;
}

.title {
    text-align: center;
    padding: 10px;
    margin-bottom: -10px;
    color: white;
}

.createPostButtonContainer {
    text-align: center;
}

.createPostButton {
    background-color: white;
    color: black;
    padding: 1px;
}
