.editPostContainer {
    text-align: left;
    border: 2px;
    border-radius: 12px;
    color: black;
    display: grid;
    grid-template-rows: repeat(4, auto);
    padding: 10px;
    gap: 10px;
}

.editPostButtonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.editPostTitle {
    text-align: center; 
    margin-top: 10px;
    color: black;
}
