.summaryVoteContainer {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}

.postContainer {
    display: grid;
    color: white;
    border: 2px;
    border-radius: 12px;
    grid-template-columns: 100px 100px 1fr;
    gap: 10px;
    background-color: rgb(90, 0, 0);
    padding: 10px;
}

.postElementColumn {
    height: auto;
}

.postTitle {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}

.postTag {
    color: white;
    background-color: rgba(255, 255, 0, 0.5); 
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
    margin-right: 0.8rem;
    display: inline-block;
    margin-top: auto;
    font-size: 1.2rem;
}

.postTitleComponent {
    display: flex;
    vertical-align: left;
}

.postButtonList {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: left;
    gap: 10px;
}
