.detailedVoteContainer {
    display: flex;
    gap: 4vw;
}

.detailedPostContainer {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postTag {
    color: white;
    background-color: rgba(255, 255, 0, 0.5);
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
    margin-right: 0.8rem;
    display: inline-block;
    align-self: center;
    font-size: 1.2rem;
}

.detailedPostFooterContainer {
    background-color: rgb(90, 0, 0);
    border: 2px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    text-align: center;
    align-items: center;
}

.hubLink {
    text-decoration: underline;
    color: lightseagreen;
}

.detailedPostElement {
    background-color: rgb(90, 0, 0);
    border: 2px;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.image {
    max-width: 100%;
    max-height: 70vh;
}

.imageContainer {
    display: block;
    align-self: center;
}
