/*
    Posts Page
*/

.postsPageContainer {
    display: grid;
    grid-row-start: auto;
    gap: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}

.header {
    background-color: darkred;
    border: 2px;
    border-radius: 12px;
    height: auto;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.hubsAndPostsContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/*
    Buttons
*/

.basicButton {
    background-color: white;
    color:black;
    padding: 1px;
}

.likeButton {
    background-color: green;
    padding: 1px;
}

.dislikeButton {
    background-color: red;
    padding: 1px;
}

/*
    Like/Dislike
*/

.postLikeContainer {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.postDislikeContainer {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.summaryVoteContainer {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}

.detailedVoteContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/*
    Post List
*/

.postListContainer {
    background-color: transparent;
}
.postListContainer + .postListContainer {
    margin-top: 10px;
}

/*
    Individual Post
*/

.postContainer {
    display: grid;
    color: white;
    border: 2px;
    border-radius: 12px;
    grid-template-columns: 100px 100px 1fr;
    gap: 10px;
    background-color: rgb(90, 0, 0);
    padding: 10px;
}

.detailedPostContainer {
    background-color: black;
    color: white;
    display: grid;
    grid-row: auto;
    padding: 10px;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.detailedPostFooterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.detailedPostElement {
    background-color: rgb(90, 0, 0);
    border: 2px;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: auto;
}

.postElementColumn {
    height: auto;
}

.postTitle {
    margin-bottom: 10px;
}

/*
    Create Post
*/

.createPostContainer {
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 10px;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.createPostInputContainer {
    background-color: darkred;
    border: 2px;
    border-radius: 12px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 10px;
}

.createPostError {
    background-color: black;
    color: red;
    width: fit-content;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

.createPostInput {
    width: 50%;
    height: 25px;
}

.createPostTextarea {
    width: 50%;
    height: 200px;
}

/*
    Delete Post Modal
*/

.deleteModal {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color: white;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 12px;
    position:  absolute;
    height: 80px;
    width: 350px;
    grid-template-areas:
        "up up"
        "header header"
        "confirm cancel";
    left: calc(50% - 175px);
    top: calc(50% - 40px);
}

.deleteModalHeader {
    color: black;
    grid-area: header;
}

.deleteModalClose {
    margin-left: auto;
    margin-right: 0;
    height: 20px;
    color: black;
    grid-area: up;
}

.deleteModalConfirm {
    width: 100px;
    background-color: darkgreen;
    border-color: black;
    border-radius: 5px;
    color: white;
    grid-area: confirm;
}

.deleteModalCancel {
    width: 100px;
    background-color: darkred;
    border-color: black;
    border-radius: 5px;
    color: white;
    grid-area: cancel;
}

.deleteModalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
