.summaryVoteContainer {
    display: flex;
    gap: 4vw;
}

.postContainer {
    display: grid;
    color: white;
    border: 2px solid black;
    border-radius: 12px;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    background-color: rgb(90, 0, 0);
    padding: 10px;
}

.textContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 10vh;
}

.postThumbnail {
    height: 100%;
    max-height: 100px;
    width: 100%;
    object-fit: contain;
}

.postTitle {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}

.postTag {
    color: white;
    background-color: rgba(255, 255, 0, 0.5); 
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
    margin-right: 0.8rem;
    display: inline-block;
    margin-top: auto;
    font-size: 1.2rem;
}

.postTitleComponent {
    display: flex;
    vertical-align: left;
}
