.detailedVoteContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.detailedPostContainer {
    background-color: black;
    color: white;
    display: grid;
    grid-row: auto;
    padding: 10px;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.detailedPostFooterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.detailedPostElement {
    background-color: rgb(90, 0, 0);
    border: 2px;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: auto;
}

.detailedPostButtonList {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: left;
    gap: 10px;
}

.detailedCreateComment {
    margin-bottom: 10px;
}
