.detailedVoteContainer {
    display: flex;
    gap: 4vw;
}

.detailedPostContainer {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.detailedPostFooterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.detailedPostElement {
    background-color: rgb(90, 0, 0);
    border: 2px;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.detailedPostButtonList {
    display: flex;
    align-self: flex-end;
    gap: 10px;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.imageContainer {
    display: block;
    align-self: center;
}
