.editHubName{
	text-align: center;
	background-color: transparent;
	color: white;
	font-size: 70px;
	border: 0px;
	padding: 50px;
	outline: none;
}

.editHubName:focus{
	box-shadow: 0 4px 4px -2px rgba(0,0,0,0.9);
}


.editHubDescription{
	padding: 20px;
	color: white;
	text-align: center;
	background-color: transparent;
	border: 0px;
	outline: none;
}
.editHubDescription:focus{
	border: 1px solid black;
}

.editViewContainer{
	background-color: rgba(227, 24, 55, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tag-button {
    padding: 0.2%;
    font-weight: bold;
    color: black;
    margin-right: .5vw;
    cursor: pointer;
    background-color: lightgray;
    padding: 0.1rem 0.3rem;
    border-radius: 7px;
    border-width: .3vw;
	margin-bottom: 2vh;
	margin-top: 2vh;
}

.tag-button:hover,
.current {
    background-color: var(--bgColor,#cfbc0d);
    border-color: var(--bgColor,#cfbc0d);
    color:white;
}
