.pageBG{
	/*the image shoudl be whatever the hubs background image is*/
	background-image: url(https://img.freepik.com/free-vector/circuit-board-neon-background_23-2148335792.jpg);
	background-size: cover;
	background-position: center;

	/* i set the height so the whole page is taken up, but we can omit it once we fill it with content*/
	height: 100vh; 
}

/* hub view container holds heading, hub name, hub desc, details, owner, timestamp */
.hubViewContainer{
	background-color: rgba(227, 24, 55, 0.9);
	border: 2px solid black;
	border-radius: 10px;
}

.hubViewHeading{
	justify-content: center;
}
.hubName{
	font-size: 70px;
	color: white;
	text-align: center;
}
.hubTimestamp{
	text-align: center;
	color: white;
}
.hubDescription{
	text-align: center;
	color: white;
}

.hubViewDetails{
	display: flex;
	justify-content: center;
	padding-left: 20px;
}
.hubOwner{
	color: white;
	flex: 2;
}

.postTitleContainer{
	text-align: left;
}
.postTitle{
	padding-left: 80px;
	padding-top: 80px;
}
.parentContentContainer{
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
}



/* container for holding the posts and members list */
.hubPageContentContainer{
	padding-top: 50px;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 50px;
	justify-content: space-between;
	width: 100%;
}


.membersListsContainer{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
