.membersList{
	background-color: rgba(227, 24, 55, 0.9);
	width: 700px;
	max-width: 210px;
	align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px black solid;
	border-radius: 20px;
}
.membersListHeader{
	color: black;
}

.memberList{
}
.memberLI{
	border: 1px solid black;
	border-radius: 5px;
	list-style-type: none;
	margin: 15px;
}

.memberItem{
	width: 190px;
	display: flex;
	padding: 5px;
}

.memberName{
	flex:1;
}
.memberItemButton{
	color: black;
	border: none;
	background-color: transparent;
	font-size: 15px;
	height: 100%;
	cursor: pointer;
}
.memberItemButton:hover{
	color: blue;
}

.memberActions{
}

.acceptPendingButton{
	background-color: green;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.acceptPendingButton:hover{
	background-color: darkgreen;
}

.memberKickButton{
	background-color: black;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.memberKickButton:hover{
	background-color: darkred;
}

.declinePendingButton{
	background-color: black;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.declinePendingButton:hover{
	background-color: darkred;
}

.memberAddModButton{
	background-color: green;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.memberAddModButton:hover{
	background-color: darkgreen;
}

.memberRemoveModButton{
	background-color: black;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.memberRemoveModButton:hover{
	background-color: darkred;
}
