.sidebar {
    width: 250px;
    background-color: transparent;
    height: 100vh;
    position: fixed;
    top: 100px;
    left: 0;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.logo{
    display:flex;
    justify-content: center;
    padding: 10px;
    background-color: transparent;
}

.link {
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    /* transition: background-color 0.2s; */
    font-family: cursive;
    font-size: large;
}
  
.link:hover {
    background-color: #f0f0f0;
    color:black;
}