.sidebar {
    width: 150px; /* Remember to change margins's margin-left */
    background-color: transparent;
    height: 100vh;
    position: fixed;
    top: 100px;
    left: 0;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
}

.margins {
    margin-left: 150px; /* Remember to change sidebar's width */
    padding: 10px;
}
