
.tag-button {
    padding: 0.2%;
    font-weight: bold;
    color: black;
    margin-right: .5vw;
    cursor: pointer;
    background-color: lightgray;
    padding: 0.1rem 0.3rem;
    border-radius: 7px;
    border-width: .3vw;
}

.sort {
    padding: 0.2%;
    color: black;
    background-color: lightgray;
    border-color: lightgray;
    margin-right: .5vw;
    cursor: pointer;
    padding: 0.1rem 0.3rem;
    border-radius: 7px;
    border-width: .3vw;
}

.tags {
    color: black;
    background-color: lightgray;
    border-color: lightgray;
    margin-right: .5vw;
    cursor: pointer;
    padding: 0.05rem 0.2rem;
    border-radius: 7px;
    border-width: .2vw;
}

.buttons button:hover,
.current {
    background-color: #cfbc0d;
    border-color: #cfbc0d;
    color: black;
}
