/* CSS for EventModal.js */


.overlay {
    position: fixed; /* Fixed position to cover the entire screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    z-index: 100; 
  }
  
  .modal {  
    position: absolute; 
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%); 
    background-color: white; 
    color: black;
    padding-left: 1.75vw; 
    padding-right: 1.75vw; 
    padding-bottom: 1.75vh; 
    border-radius: 1vw; /* Rounded corners */
    min-width: 200px;
    min-height: 100px;
    max-width: 40vw;
    max-height: 60vh;
    overflow-y: auto;
    margin: 0;
  }
  
  .header{
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding-top: 2vh;
  }

  /* Close button is located top right of the modal */
  .close-button {
    position: absolute;
    top: 0; /* Position from the top */
    right: -1.2vh; /* Position from the right */
    background: none; 
    border: none; 
    font-size: clamp(14px, 1.6vw, 1.6vw); 
    color: black;
    cursor: pointer; 
    user-select: none;
    z-index: 10000;
  }

  .title{
    font-size: clamp(18px, 2.2vw, 2.2vw);
  }

  .location{
    font-size: clamp(9px, 1.1vw, 1.1vw);
  }

  .times{
    display: flex;
    justify-content: space-between;
    font-size: clamp(9px, 1.1vw, 1.1vw);
  }


  .description{
    padding-top: 1vh;
    font-size: clamp(10px, 1.2vw, 1.2vw);
  }

  /* Horizontal lines */

  .grey-line{
    height: 0.1vh;
    background-color: grey 0;
    margin-bottom: .5vh;
  }

  .scarlet-line{
    border: none; 
    height: 0.35vh;
    background-color: #CF0A2C;
    margin-top: 0.5vh;
  }

  .black-line{
    border: none; 
    height: 0.35vh;
    background-color: black;
    margin-bottom: 0.3vh;
  }

